*,
*::before,
*::after {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: linotypegianotten;
    src: url('fonts/linotypegianotten-heavy.tff') format('truetype');
    }
a{
    text-decoration: none;
}
body{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 14% 1fr;
    grid-template-rows: 8% 1fr;
    font-family: 'Poppins', sans-serif;
}
ul{
    list-style-type: none;
    font-weight: 800;
}
img{
    max-width: 100%;
    height: auto;
}
h3{
    font-size: 25px;
    font-size: 200;
}
h5{
    font-size: 20px;
    font-weight: 200;
}
/*comienza header*/
header{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0px 2px 10px black;
}
.titulo{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}
.titulo h2{
    padding: 0.5rem;
}
header nav{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 10%;
}

header nav ul li i{
    color: rgb(153, 133, 66);
    font-size: 1.2rem;
}

/*Comienza el aside*/
aside{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: rgb(4,28,44);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 10% 80%;
    justify-items: center;
}
.logo{
    grid-column: span 1;
    grid-row: 1/2;
    padding: 0.5rem;
}
.isotipo{
    grid-column: span 1;
    grid-row: 2/3;
}
.isotipo img{
    height: 80px;
}
.sidebar-nav{
    grid-column: span 1;
    grid-row: 3/4;
    width: 100%;
}
.sidebar-nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;

}
.sidebar-nav ul li{
    padding: 1rem;
    width: 100%;
}

.sidebar-nav ul li a{
    width: 100%;
    text-decoration: none;
    color: rgb(158, 156, 156);
    font-size: 16px;
}

.item-menu:hover{
    background-color: aliceblue;
}

.sidebar-nav ul li a:hover{
    color:rgb(153, 133, 66);
}

.menu-title{
    color: rgb(112, 111, 111);
    font-size: 12px;
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
}
.item i{
    padding-right: 1.2rem;
}

/*Comienza el Main*/
.main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(231, 230, 230);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5%;
    gap: 10px;
    
}

.container{
    grid-column: 1fr;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    gap: 10px;
    padding: 1rem;
}
.card-color{
    background-color: #fff;
}

.card-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.icon{
    font-size: 3rem;
    padding: 1rem;
}
.card1 .icon{
    color: rgb(74, 202, 127);
}
.card2 .icon{
    color: rgb(57, 205, 224);
}
.card3 .icon{
    color: rgb(214, 43, 94);
}
.card4 .icon{
    color: rgb(116, 236, 190);
}
.card1{
    grid-column: 1/4;
    grid-row:1/2;
}
.card2{
    grid-column:4/7;
    grid-row:1/2;
}
.card3{
    grid-column:7/10 ;
    grid-row:1/2;
}
.card4{
    grid-column:10/13 ;
    grid-row:1/2;
}
.card5{
    grid-column: 1/5;
    grid-row: 2/5;
}
.card6{
    grid-column:5/13 ;
    grid-row: 2/5;
}
.card7{
    grid-column:1/5 ;
    grid-row: 5/7;
}
.card8{
    grid-column:5/9 ;
    grid-row: 5/7;
}
.card9{
    grid-column:9/13 ;
    grid-row: 5/7;
}

footer{
    grid-column: 1fr;
    grid-row: 2/3;
    background-color: rgb(153, 133, 66);
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: center;
    padding: 0.5rem;
}